* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FCFCFC;
}

body {
    background-color: #151515;
}

main {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    height: 100vh;
}

.main-img {
    display: block;
    max-width: 60vw;
    height: 100vh;
    background-size: cover;
}

.container-rigth {
    padding: 2.5rem;
}

.logo-img {
    max-width: 200px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
    margin-bottom: 1.75rem;
}
